# IN MTL-E Folder
MTL-E/.ipynb_checkpoints
MTL-E/Dataset
MTL-E/temp.ipynb
MTL-E/results
MTL-E/output
MTL-E/__pycache__
MTL-E/util
MTL-E/bias_2_model
MTL-E/stereotype_model
*.csv

lm-evaluation-harness

# In STL Folder
STL/__pycache__
STL/Dataset
STL/SavedModels

Best_Models
LLM_Finetuning/STL_LLM/ToxicBias_classification
LLM_Finetuning/Dataset
LLM_Finetuning/STL_LLM/STL_Models
LLM_Finetuning/STL_LLM/BABE_classification
LLM_Finetuning/STL_LLM/BEAD_classification
LLM_Finetuning/STL_LLM/StereoSet_classification
LLM_Finetuning/MTL_LLM/MTL_Models
__pycache__

*.png