# IN MTL-E Folder
Encoder_Models/MTL-E/.ipynb_checkpoints
Encoder_Models/MTL-E/Dataset
Encoder_Models/MTL-E/temp.ipynb
Encoder_Models/MTL-E/results
Encoder_Models/MTL-E/output
Encoder_Models/MTL-E/__pycache__
Encoder_Models/MTL-E/util
Encoder_Models/MTL-E/bias_2_model
Encoder_Models/MTL-E/stereotype_model
*.csv

lm-evaluation-harness

bias_model
Models
__pycache__
# In STL Folder
# STL/__pycache__
Encoder_Models/STL/Dataset
Encoder_Models/STL/SavedModels

Best_Models
LLM_Finetuning/STL_LLM/ToxicBias_classification
LLM_Finetuning/Dataset
LLM_Finetuning/STL_LLM/STL_Models
LLM_Finetuning/STL_LLM/BABE_classification
LLM_Finetuning/STL_LLM/BEAD_classification
LLM_Finetuning/STL_LLM/StereoSet_classification
LLM_Finetuning/MTL_LLM/MTL_Models
LLM_Finetuning/MTL_LLM/Images
__pycache__


Dataset/
*.png

SavedModels

Analyze.ipynb
StereoBias_classification
StereoBias_classification_logs